/* Main contents-2 Starts ------------------------------------------- */
.Bolg {
    text-align: center;
}

.sub-blog1 {
    opacity: .5;
    font-size: x-small;
    padding: 10px;
}

.blog-img {
    width: 10%;
    border: 2px solid white;
    border-radius: 50%;
}

.sub-blog3 {
    opacity: .5;
    font-size: x-small;
    padding: 10px 85px;
}
/* Main contents-2 End -----------------------------------------------------------------  */

/* Blog Starts----------------------------------------------------------------- */

/* Blog contennt Starts----------------------------------------------------------------- */
.main-block {
    padding: 10px 25px;
    background-color: #e4e8e7;
}

.main-sub1 {
    opacity: .7;
    text-align: center;
    font-size: x-small;
    padding: 10px 75px;
}

.main-sub1 p {
    padding: 10px 0px;
}

/* Blog Grid Starts----------------------------------------------------------------- */
.blog-condent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.blog-item {
    padding: 0px 5px;
    font-size: x-small;
}

.blog-item h3,.blog-item p{
    opacity: .6;
}

.blog-item a {
    font-size: x-small;
    color: #9C27B0;
}

.blog-item a:hover {
    color: #35b335
}
/* Blog Grid End---------------------------------------------------------------- */
/* Blog End-----------------------------------------------------------------  */

/* Responsive view  @media (min-768px) Starts-------------------------------------------------- */
@media only screen and (min-width:768px){
    .sub-blog1 {
        font-size: medium;
    }
    .sub-blog3 {
        font-size: medium;
        padding: 10px 120px;
    }
    .main-sub1 {
        font-size: medium;
    }
    .blog-condent {
        padding-left: 35px;
    }
    .blog-item {
        padding: 0px 8px;
        font-size: medium;
    }
    .blog-item a {
        font-size: smaller;
    }
}
/* Responsive view  @media (min-768px) End-------------------------------------------------- */

/* Responsive view  @media (min-1024px) Starts------------------------------------------------- */
@media only screen and (min-width:1024px){
    .sub-blog1 {
        font-size: x-large;
    }
    .sub-blog3 {
        font-size: x-large;
        padding: 10px 150px;
    }
    .main-sub1 {
        font-size: x-large;
        padding: 0px 150px;
    }
    .blog-item {
        padding: 0px 15px;
        font-size: large;
    }
    .blog-item a {
        font-size: medium;
    }
}
/* Responsive view  @media (min-1024px) End-------------------------------------------------- *